{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  My Blog
{% endblock page_title %}

{% block css_file %}
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock css_file %}

{% block content %}
<header id="main-navigation">
    <h1><a href="{% url 'index' %}">Euge's Blog</a></h1>
    <nav>
        <a href="{% url 'all-posts' %}">All posts</a>
    </nav>
</header>
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/profile-pic.png"%}" alt="Euge - The author of this blog">
            <h2>Eugenia's Blog</h2>
        </header>
        <p>Hi! I am Euge and I love to blog about life.</p>
    </section>
    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            {% for post in posts %}
            <li>
                <article class="post">
                    <a href="{% url "post" post %}"> 
                        <img src="{%static "blog/images/writing-blog.jpg"%}" alt="image-post">
                        <div class="post__content">
                            <h3>Mi first post</h3>
                            <p>This is the first post I ever write in a webpage.</p>
                        </div>
                        {{ post|title }}</a>
                </article>
                </li>
          {% endfor %}
          
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, I love helping others</p>
        <p>My goal is to keep growing as a developer - and if I could help you do the same I'd be happy!
        </p>
    </section>



{% endblock %}
